<% provide(:title, @user.username) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1><%= @user.username %></h1>
      <p><%= @user.email %></p>
      	<br><hr>
      <h2>Your Listings</h2>
      <div><%= render 'listings/listing' %></div>
    </section>

    <div class = "col-md-4">
    	<%= link_to "Submit New Listing", new_user_listing_path(@user) %>
    </div>
  </aside>
</div>
