<%= provide(:title, "Project") %>

<div class = "center">
  <h2><%= @project.title %></h2>
</div>
<h2><%= @project.description %></h2>
<h2>Owned By : <%= @project.user.name %></h2>
<p># PLACE BOOKING FORM HERE</p>